﻿/* portfolio.css */

header, main, footer { display: block; }

#wrapper{ background-color: #FFFFFF;
         border: 2px solid #000000;}

header { margin-bottom: 0px;}

body {
background-color: #00ffff;
}


h1 {
margin-top: 0;
text-align: center;
font-family: Georgia, Times New Roman, sans-serif;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}


p { text-align: center;}

h2 {
text-align: center;}

footer{
position:fixed;
left:0;
bottom:0;
width: 100%;
}

main{
background-color:#FFFFFF;
padding-top:1px;
padding-right:20px;
padding-bottom:20px;
padding-left:20px;
margin-left:20px;
}

.copyright{
color:#000000;
}

#mobile{
display: none;
}
#desktop{
display: inline;
}

@media only screen and (max-width: 64em) {

p {display:block;}

footer{ position:fixed;}
 
}

@media only screen and (max-width: 37.5em) and (orientation:landscape) {

p {display:block;}

footer {position:relative;}
    
#mobile {display: inline}
#desktop{display: none;}   
}
